<!DOCTYPE html>
<html>
  <head>
    <title> ADMIN </title>
  </head>
  <body>
    <h1> Admin Page </h1>

    <form method="POST">
      Food Title: <input type="text" name="title" id="title">
      <br>
      Food Description: <input type="text" name="description" id="description">
      <br>
      A link to an image: <input type="text" name="img" id="img">
      <br>
      <input type="submit" value="Click here to submit!">
    </form>

    <p> {{ message }} </p>

    <h1> CURRENT ENTRIES: </h1>
    <p> ** Note: Please avoid adding duplicate entries as there is currently no system to
      check for duplicates, other than failed exceptions. </p>
    {% for entry in current_entries %}
      <h4> {{ entry.food_title }} </h4>
      <p> {{ entry.food_description }} </p>
      <br>
      <img src="{{ entry.food_img_link }}" alt="Food picture">
      <hr>
    {% endfor %}
  </body>
</html>
