<!doctype html>
<html>
  <head>
    <title> Homepage </title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1> Welcome </h1>

    <form action='/' method='POST'>
      <h5> Please enter your join code. </h5>
      <input type='text' id='join_code' name='join_code'>
      <input type='submit' class="btn btn-primary" id='join_submit' name='join_submit'>

      <br>

      <h5> Don't have a join code? Host a session with your own code! </h5>
      <input type='text' id='host_code' name='host_code'>
      <input type='submit' class="btn btn-secondary" id='host_submit' name='host_submit'>
    </form>

    <p>
      {{ message }}
    </p>
  </body>
</html>
