<!doctype html>
<html>
  <head>
    <title>Lobby - Waiting for others to join </title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();

        // sending the join code so the user joins respective rooms
        socket.on('connect', function() {
          socket.emit('my event', {'data': "{{join_code}}"});
        });

        // getting restaurant list
        socket.on('list_restaurant', (restaurant_list) => {
          restaurant_list = restaurant_list['restaurant_list'];
          console.log('Restaurant list has been sent to client.');
        });

        function begin_session()
        {
          // responsible for redirecting all users on form submission
          socket.emit('start_game', {'data':"{{join_code}}"});
        };

        socket.on('cmd', function() {
          // all clients are receiving this!
          socket.emit('change_page');
          console.log('GOT TO REDIRECT');
        });
    </script>
  </head>

  <body>
    <img src="https://media3.giphy.com/media/QUmpqPoJ886Iw/200w.webp?cid=ecf05e471da89a2f319e1019fc13747622f203f8e55a8903&rid=200w.webp" alt="Waiting for other players to join. Please wait!">

    <p> {{ join_code }}</p>

    {% if session_id == host: %}
      <form action="" >
        <p> Once all the players have joined, press the button below to continue. </p>
        <input type="button" value="Go" onclick="begin_session()"/>
      </form>
    {% endif %}

  </body>
</html>
